.navbar {
  align-items: center;
  background-color: snow;
  border-bottom: 1px solid lightgrey;
  display: flex;
  height: 40px;
  justify-content: center;
  z-index: 2;
}

.navbar-title {
  margin: 0;
  
}

.sticky {
  font-family: 'Exo 2';
  font-size: 13px;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  width: 100%;
}