.navbar {
  background-color: snow;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* we have to make this sticky */
  border-bottom: 1px solid lightgrey;
}

h1 {
  margin: 0;
}