.post {
  background-color: black;
  height: auto;
  width: 480px;
  /* border-radius: 15px; */
}

.img-container {
  background-color: pink;
  width: 480px;
  height: 550px;
  /* border-radius: 15px 15px 0px 0px; */
}

.pic-of-day {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;

}

.like-section {
  background-color: orange;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.img-desc {
  background-color: grey;
  height: 130px;
  overflow:scroll;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px 0px 15px 15px;
  padding-bottom: 15px;

}

p {
  margin: 0;
}