.post {
  /* background-color: white; */
  height: auto;
  width: 410px;
  /* border-radius: 15px; */
  /* border: 1px lightgrey; */
  margin-bottom: 15px;
}

.img-container {
  /* background-color: pink; */
  width: 100%;
  height: 410px;
}

.pic-of-day {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
}

.img-date {
  /* position: absolute; */
  bottom: 25px;
  /* right: 160px; */
  background-color: transparent;
  position: relative;
  left: 305px;
  color: darkorange;
  font-family: 'Orbitron';
  font-size: 13px;

}

.like-section {
  background-color: white;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border: 1px solid lightgrey;
  border-bottom: none;
}

.img-title {
  background-color: white;
  height: auto;
  overflow:scroll;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px 0px 4px px;
  padding-bottom: 15px;
  border: 1px solid lightgrey;
  border-top: none;
  letter-spacing: 1px;

}

h3 {
  font-family: 'Exo 2';
  margin: 0;
}